# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db